<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#blog/templates/blog/HTML/index.html#}
    {% extends 'blog/HTML/base.html' %}
    {% load staticfiles %}
    {% block title %}主页{% endblock %}
    {% block css %}
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/post_list.css'%}"/>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="jumbotron">
          {% if request.session.is_login %}
            <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
            <p><a class="btn btn-lg btn-success" href="{% url 'new_post' %}" role="button">添加新文章</a></p>
          {% else %}
            <h1>你尚未登录，只能访问公开内容！</h1>
          {% endif %}
        <p class="lead"></p>
      </div>
    <div class="row marketing">
        {% for post in posts %}
        <div class="col-lg-6">
             <h4><a href="post_article/{{post.id}}">{{ post }}</a></h4>
             <p>{{ post.text|linebreaksbr }}</p>
             <div >published:{{ post.published_date }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
</body>
</html>