<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/HTML/base.html' %}
    {% load staticfiles %}
    {% block title %}{{ article.headline }}{% endblock %}
    {% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    {% endblock %}
<body>
    {% block content %}
        <h1>{{ article.title}}</h1>
        <p>{{ article.text }}</p>
    {% if edit_status %}
    <a href=# onclick="dismessage()">修改文章</a>
    {% endif %}
    {% endblock %}
</body>
</html>