<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'blog/HTML/base.html' %}
    {% load staticfiles %}
    {% block title %}{{ post }}{% endblock %}
    {% block css %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
    {% endblock %}
<body>
    {% block content %}
        <h1>{{ post.title}}</h1>
        <p>{{ post.text }}</p>
    {% if edit_status %}
    <a href="{% url 'edit_post' post.id %}">修改文章</a>
    {% endif %}
    {% endblock %}
</body>
</html>